.banner{
    margin: 0 0;
    padding: 0 0;
    border: 0 0;
}

body{
    background-color: #0E0E13;
    color: white;
    max-width: 1000px;
    margin-right: 100px;
    margin: 0 auto;
    padding:0 auto;
    margin: 0 auto;
}


header{
    text-align: center;
    color: #FC0A9B;
    font-family: 'Playfair Display SC', serif;
}


main{
    max-width: 1200px;
    margin-right: 100px;
    margin: 0 auto;
    padding: 10px;
}


.img-programador{
  position: relative;
  padding-right:25px;
  right: -100px;
  width: 200px;
}

h2{
    position: relative;
    right: -110px;
    font-size: 38px;
    font-family: 'Poppins', sans-serif;

    
}


p{
    position:relative;
    right:-110px;
    font-size:16px;
    font-family: 'Roboto', sans-serif;

}


.button{
text-align: center;
}

input{
    position: relative;
    right: -100;
    display: 100px;
    flex-direction:column;
    height: -100px;
    width:70%;
}

input[type="button"]{
    height: 50px;
    width: 38%;
    background-color: #FC0A9B;
    color: white;
    font-weight: bold;
    margin-top:20px;
    padding:12px;
    border-radius:9px;
    border:none;
    font-size:18px;
    font-family: 'Poppins', sans-serif;
}

.banner{
    position:relative;
    width:800px;
    right: -90px;
    padding-top:255px;
}
